.App2 {
  color: "white";
  background: "red";
  text-align: center;
}
.App22 {
  background: "red";
  text-align: right;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

p {
  color: "pink";
}
